<!-- <app-user-registration-form></app-user-registration-form>
<app-login-form></app-login-form>
<app-signup-form></app-signup-form> -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="/user-registration" routerLinkActive="active">Reactive Form</a>
            <a class="nav-link active" routerLink="/sign-in" routerLinkActive="active">Template Driven Form</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>